* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cartContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  max-width: 850px;
  margin-left: 2.5rem;
  border: 1px solid black;
}
.cartTitle{
  font-size: 1.5rem;
  font-weight: 700;
}
.emptyCart{
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
}
.cartItem{
  display: flex;
  align-items: center;
  border: 1px solid red;
  box-shadow: 0px 3px 15px rgba(0, 0,0, 0.2);
}
.cartImg{
  width: 100px;
  height: 95px;
  object-fit: cover;
}
.cartDetails{
  flex-grow: 1;
}
.productTitle{
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.productPrice{
  font-size: 16px;
  font-weight:600;
  color:rgba(0, 0, 0, 0.816);
}

